<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="usb2snesfileviewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="usb2snes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <usb2snesfileviewer.Properties.Settings>
            <setting name="LocalDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SetStateDir" serializeAs="String">
                <value />
            </setting>
            <setting name="GetStateDir" serializeAs="String">
                <value />
            </setting>
            <setting name="PatchDir" serializeAs="String">
                <value />
            </setting>
            <setting name="TestDir" serializeAs="String">
                <value />
            </setting>
        </usb2snesfileviewer.Properties.Settings>
        <usb2snes.Properties.Settings>
            <setting name="LocalDir" serializeAs="String">
                <value />
            </setting>
        </usb2snes.Properties.Settings>
    </userSettings>
</configuration>